/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  /* remの基準 */
  scroll-behavior: smooth;
}

body {
  font-family: 'Hiragino ProN', 'Yu Gothic', sans-serif;
  ;
  color: #FFF;
  background-color: #1a1a1a;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  padding: 0 90px;
}

ul {
  list-style: none;
}

h2 {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  margin: 20px 0;
}

a{
  display: block;
  padding: 20px;
  color: #1a1a1a;
  text-decoration: none;
  transition: background 0.5s ease;
}

a:hover {
  background: #1a1a1a;
  color: #FFF;
}

/* ===========================
   Layout
=========================== */

/* 三本線全体を装飾 */
.hamburger {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  padding: 0;
}

/* 三本線の一本ずつを装飾 */
.hamburger span {
  display: block;
  width: 24px;
  height: 2px;
  margin: 4px;
  background: #FFF;
}

.nav{
  width:240px;
  padding: 20px;
  background: #FFF;
}

#nav {
  display: none;
}

#nav.is-open {
  display: block;
}