/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  /* remの基準 */
  scroll-behavior: smooth;
}

body {
  font-family: 'Hiragino ProN', 'Yu Gothic', sans-serif;
  color: #FFF;
  background-color: #1a1a1a;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  padding: 0 90px;
}

h2 {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  margin: 20px 0;
}